{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="login-container">
        <h3 class="text-center mb-4 logo-c">Sign In</h3>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>

            <button type="submit" class="btn btn-primary w-100">Sign In</button>

            {% if form.errors %}
            <div class="error alert alert-danger mt-3">
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </form>

        <div class="text-center mt-3 text-c">
            <a href="#">Forgot password?</a> | <a href="#">Create an account</a>
        </div>
    </div>
</div>
{% endblock %}
