{% extends "base.html" %}]
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<section class="container-fluid mb-3">

    <div class="row">

        <h2 class="display-4 mt-5">Conversation with {{ other_user.username }}</h2>

        <div class="col-lg-6 col-md-12 m-auto">
            <br>

            <div class="profile-sidebar p-5 shadow-sm">
                <div>
                    {% for message in messages %}
                        <p><strong>{{ message.sender.username }}:</strong> {{ message.content }} <em>{{ message.sent_at }}</em></p>
                    {% endfor %}
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <textarea class="p-5 rounded mx-auto" name="content" required></textarea>

                    </div>
                    <div class="d-flex mt-4">

                        <button type="submit" class="btn btn-primary btn-sm mx-auto">Send</button>

                    </div>
                    
                    
                </form>

            </div>

        </div>

        <hr>

    </div>

    

</section>
{% endblock %}




