<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <!-- Ensure the user cannot access other pages once they register until they complete their profile -->
        <a class="navbar-brand fw-bold text-danger"
            href="{% if request.path != '/matching/update-profile/' %}{% url 'home' %}{% else %}{% url 'update-profile'%}{% endif %}">
            <!-- Insert site logo here -->
            <!-- <img src="" width="30"
                height="30" class="d-inline-block align-top" alt=""> -->
            &ensp; Cirrus
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>



        <!-- Code for Logged In navbar -->
        {% if user.is_authenticated %}

        <!-- If the user has not created a profile yet, they cannot access further pages -->
        {% if request.path != '/matching/update-profile/' %}
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'update-profile' %}">Edit Profile ({{ user }})</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </div>
        {% endif %}

        {% else %}
        <!-- Code for Logged Out Navbar  -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-danger" href="{% url 'register' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Login</a>
                </li>
                <!-- Extra links to delete just here for testing purposes -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'update-profile' %}">Edit Profile ({{ user }})</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </ul>
        </div>
        {% endif %}
    </div>
</nav>